body{
font-family:Arial, sans-serif;
background:#0b4c8c;
margin:0;
padding:0;
display:flex;
justify-content:center;
}

/* Container Form */

.container{
background:white;
max-width:500px;
width:95%;
margin:40px;
padding:25px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.15);
}

/* Title */

h2{
text-align:center;
color:#0b4c8c;
margin-bottom:25px;
}

/* Progress Step */

.progress{
display:flex;
justify-content:space-between;
margin-bottom:25px;
}

.step{
width:33%;
text-align:center;
font-size:14px;
font-weight:bold;
color:#555;
}

.bar{
height:6px;
background:#ddd;
margin-top:5px;
border-radius:5px;
}

.active .bar{
background:#ffc400;
}

/* Form Step */

.form-step{
display:none;
}

.form-step.active{
display:block;
}

/* Label */

label{
font-weight:bold;
display:block;
margin-top:15px;
color:#333;
}

/* Input */

input,select{
width:100%;
padding:10px;
margin-top:5px;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;
box-sizing:border-box;
}

/* Buttons Layout */

.buttons{
display:flex;
justify-content:space-between;
margin-top:20px;
}

/* Button Style */

button{
padding:12px 18px;
border:none;
border-radius:20px;
font-weight:bold;
cursor:pointer;
font-size:14px;
}

/* Next Button */

.next{
background:#ffc400;
color:#000;
}

/* Back Button */

.prev{
background:#ccc;
color:#000;
}

/* Submit Button */

.submit{
background:#0b4c8c;
color:white;
width:100%;
margin-top:20px;
font-size:16px;
}

/* QRIS BOX */

.qris-box{
text-align:center;
margin-bottom:20px;
padding:15px;
border:1px dashed #ddd;
border-radius:10px;
background:#f9f9f9;
}

.qris-box h3{
margin:0;
color:#0b4c8c;
}

.qris-box img{
width:200px;
margin:15px 0;
}

.qris-box p{
font-size:14px;
color:#555;
}
